.adminPanelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 336px;
  height: 480px;
  background: url("./assets/images/bgPanel.png");
}

.adminMenu {
  border: 0;
  background: 0;
  outline: none;
  letter-spacing: 2px;
  font-family: "western";
  font-size: 2.5em;
  font-weight: 200;
  color: var(--secondary-color);
}

.adminPanelContainer h1 {
  font-size: 3.5em;
  margin-bottom: 40px;
}

.adminPanelContainer button:hover {
  color: var(--third-color);
  transition: color .2s ease;
}

.adminSwitchContent {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.adminTeleport {
  display: flex;
  flex-direction: column;
  width: 248px !important;
}

.adminBackButton {
  padding-top: 7px;
  height: 35px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 40px !important;
}

.adminTeleport select {
  height: 35px;
  font-size: 15px;
  width: 240px;
  border: none;
  background: none;
  color: var(--secondary-color);
}

.button-control {
  height: 35px;
  padding-top: 7px;
  border: 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 10px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
}

.adminMenu:disabled {
  opacity: 0.5;
}

.adminMenu:disabled:hover {
  color: var(--secondary-color);
}

.adminTeleport button:disabled {
  opacity: 0.5;
}

.adminTeleport button:disabled:hover {
  color: var(--secondary-color);
}

.adminMultiInput input {
  width: 70px;
  text-align: center;
  height: 35px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--secondary-color);
}

.full-input {
  text-align: center;
  height: 35px;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  padding-left: 5px;
  padding-right: 5px;
  color: var(--secondary-color);
}

.adminSelect {
  border: 4px solid var(--primary-color);
  background: var(--primary-color);
  border-radius: 4px;
}

.adminTeleport-label {
  font-family: "western";
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 9px;
  margin-top: 9px;
}

.adminTeleport-label2 {
  font-family: "western";
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 9px;
  margin-top: 9px;
}

.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.button-control, .adminBackButton {
  font-family: "western";
}

label {
  font-family: "western" !important;
  color: var(--secondary-color) !important;
}

.multiselect {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
}

.multiselect__select:before {
  color: var(--secondary-color);
  border-color: var(--secondary-color) transparent transparent;
}

.multiselect__element {
  font-size: 14px;
  color: var(--secondary-color) !important;
  font-family: "western";
  background-color: var(--primary-color) !important;
}

.multiselect__content-wrapper {
  max-height: 300px;
  width: 410px;
  position: absolute;
  right: -4px;
  border-radius: 5px 0px 5px 5px;
  overflow-x: hidden;
  border: 1px solid var(--primary-color);
}

.multiselect__option--highlight {
  color: var(--third-color) !important;
  background-color: var(--primary-color) !important;
}

.multiselect__tags {
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.multiselect__input {
  color: var(--secondary-color) !important;
  border: 1px solid var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

.multiselect__single {
  margin: 4px 0 4px 0;
  color: var(--secondary-color) !important;
  font-family: "western";
  background-color: var(--primary-color) !important;
}

.coords {
  font-size: 18px;
  color: var(--secondary-color);
  font-family: "western";
  text-align: center;
}